<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MinnPost</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" media="all" href="http://www.minnpost.com/sites/default/files/css/css_bb801627df93671ec2cf2a1c9ecf4ad2.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="http://www.minnpost.com/sites/default/files/css/css_b833827e9fdb99e83e393d38c32a71fd.css" />
    <link type="text/css" rel="stylesheet" media="print" href="http://www.minnpost.com/sites/default/files/css/css_dd48b5b093a35515052acfc42613d628.css" />
    <!--[if IE]>
        <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?j" type="text/css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
</head>
<body class="front logged-in page-home one-sidebar sidebar-right admin-nw admin-vertical admin-df  one-sidebar sidebar-right">

<h1 style="text-align: center;">Interactive: Bills passed in 2011-2012 session</h1>

<!-- Embed Start -->
<style type="text/css">
#category-details,
#address-chooser {
  display: none;
}

.clear {
  clear: both;
}

/**
 * Nav
 */
#application-nav {
  display: none;
}
#application-nav ul,
#application-nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#application-nav ul li {
  display: inline;
  margin: 0 0.5em 0 0;
}
#application-nav ul li a {
  margin: 0;
  padding: 5px 1em 3px 1em;
}
#application-nav ul {
  border-bottom: 1px solid #999999;

}
#application-nav ul li a.tab-active {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  background-color: #FFFFFF;
}
#tab-container {
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}


/**
 * Layout
 */
#minnpost-legislature-wrapper {
  margin: auto;
  width: 975px;
} 
#bill-category-container {
  width: 100%;
}
#bills-list-container {
  width: 20%;
  float: left;
}
#bill-detail-container {
  width: 80%;
  float: left;
}

/**
 * Bills
 */
.bill-votes div {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: .5em;
}
.bill-id {
  margin-bottom: 1em;
}
.bill-house,
.bill-senate {
  width: 50%;
  float: left;
}
#bills-list-container {
  padding-bottom: 1em;
}
#bills-list-container h4 {
  padding-left: 1em;
  padding-bottom: .5em;
}
#bills-list-container ul,
#bills-list-container ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#bills-list-container ul li a {
  display: block;
  padding: .1em 1em;
}
#bills-list-container ul li a.active {
  background-color: #CDCDD0;
  color: #222222;
}

#bill-category-container a {
  float: right;
  font-size: .85em;
  margin: .5em .5em 0 0;
}
#bill-category-container h3 {
  text-align: center;
  padding: 1em;
}
.bill-details-wrapper {
  margin: 1em;
  padding: 1em;
  background-color: #FFFFFF;
}
#bill-detail-container {
  background-color: #CDCDD0;
}
#bill-detail-container .bill-status {
  float: right;
  text-transform: uppercase;
  margin: 0 0 .5em .5em; 
  font-size: 1.5em;
  padding: .5em 1.5em;
  background-color: #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#bill-detail-container h4 {
  margin-bottom: .75em;
}
#bill-detail-container h5 {
  border-bottom: 3px solid #EBEBEB;
  margin-bottom: 1em;
}
#bill-detail-container .bill-house h5 {
  margin-right: 1em;
}
#bill-detail-container .bill-timeline-container {
  width: 400px;
  height: 1.5em;
  background-color: #EBEBEB;
  margin-bottom: 1.5em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#bill-detail-container .bill-timeline-interval {
  width: 50px;
  height: 1.5em;
  background-color: #10517F;
  margin-left: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}


/**
 * Search
 */
#address-chooser-form {
  text-align: center;
  padding: 4em 2em;
}
#address-chooser-form p {
  font-size: 1.5em;
  line-height: 1.5em;
}
#address-chooser-form .address-radio {
  margin-left: .25em;
}
</style>

<div id="minnpost-legislature-wrapper" class="content node-field-body">
  
  <div id="application-nav">
    <ul>
      <li><a class="by-category tab-active" href="#by-category">By category</a></li>
      <li><a class="by-address" href="#by-address">By address</a></li>
    </ul>
  </div>
  
  <div id="tab-container" class="clearfix">
    <div id="bubble-chooser" class="vis-section">
      <div id="bubble-chart"></div>
    </div>
    
    <div id="address-chooser">
      <form id="address-chooser-form">
        <p>What bills did my 
        <input type="radio" name="author_type" value="senator" checked="checked" class="address-radio" id="senator" />
          <label for="senator">Senator</label>
        <input type="radio" name="author_type" value="representative" class="address-radio" id="representative" /> 
          <label for="representative">Representative</label> 
        sponsor?</p>
        <input type="text" id="address-chooser-address" class="form-text" />
        <input type="submit" value="Find" id="address-chooser-submit" class="form-submit" />
      </form>
    </div>
    
    <div id="category-details">
      <div id="bill-category-container"></div>
      <div id="bills-list-container"></div>
      <div id="bill-detail-container"></div>
      <br class="clear" />
    </div>
  </div>

</div>
  
<!-- Templates to be used in client side processing. -->

<!-- Template for bill list -->
<script id="template-bill-list" type="text/template">
  <h4>Bills</h4>
  <ul>
    <% _.each( bills, function( b ) { %>
      <li><a data-id="<%= b.cid %>" class="show-bill" href="#show-bill"><%= b.get('bill') %></a></li>
    <% }); %>
  </ul>
</script>

<!-- Template for bill details -->
<script id="template-bill" type="text/template">
  <div class="bill-details-wrapper">
    <div class="bill-status"><%= bill.get('bill_status') %></div>
    <h4 class="bill-title"><%= bill.get('bill') %></h4>
    <p class="bill-description"><%= bill.get('title') %> <br /> <a target="_blank" href="<%= bill.get('billurl') %>">See the full text.</a></p>
    
    
    <% if (typeof bill.get('start_date') != 'undefined') { %>
      <div class="bill-timeline">
        <h5>Time: <%= bill.getDays() %> days</h5>
        <div class="bill-timeline-container">
          <div style="width: <%= bill.getIntervalPercentage() * 400 %>px; margin-left: <%= bill.getStartPercentage() * 400 %>px;" class="bill-timeline-interval">
        </div>
      </div>
    <% } %>
    
    
    <div class="bill-house">
      <h5>House</h5>
      <% if (typeof bill.get('house_ayes') != 'undefined') { %>
        <div class="bill-house-votes bill-votes">
          <div><%= bill.get('house_ayes') %>-<%= bill.get('house_nays') %></div>
        </div>
      <% } %>
      
      <div class="bill-house-sponsors">
        <% if (!_.isEmpty(bill.get('house_sponsors'))) { %>
          <h6>House Sponsors</h6>
          <ul>
            <% _.each( bill.get('house_sponsors'), function( s ) { %>
              <li><a href="<%= s[3] %>"><%= s[0] %></a></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
    </div>
  
    <div class="bill-senate">
      <h5>Senate</h5>
      <% if (typeof bill.get('senate_ayes') != 'undefined') { %>
        <div class="bill-senate-votes bill-votes">
          <div><%= bill.get('senate_ayes') %>-<%= bill.get('senate_nays') %></div>
        </div>
      <% } %>
      
      <div class="bill-senate-sponsors">
        <% if (!_.isEmpty(bill.get('senate_sponsors'))) { %>
          <h6>Senate Sponsors</h6>
          <ul>
            <% _.each( bill.get('senate_sponsors'), function( s ) { %>
              <li><a href="<%= s[3] %>"><%= s[0] %></a></li>
            <% }); %>
          </ul>
        <% } %>
      </div>
    </div>
    <br class="clear" />
  </div>
</script>

<!-- Template for category -->
<script id="template-category" type="text/template">
  <a class="all-categories" href="#all-categories">Back to all categories</a>
  <h3><%= category %></h3>
</script>
<!-- End templates -->


<!-- Backbone (sort of) requires jQuery 1.4.3+ -->
<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/bubbletree-master-20120410/lib/jquery-1.5.2.min.js"></script>

<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/raphael-2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/underscore-1.3.3/underscore-min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/backbone-0.9.2/backbone-min.js"></script>

<script type="text/javascript">
// Namespace and closure jQuery
(function($) {
  $(document).ready(function() {
  
    // Create basic models for bills and categories
    var Bill = Backbone.Model.extend({
      getDays: function() {
        var start = new Date(this.get('start_date'));
        var end = new Date(this.get('end_date'));
        var days = 12 * 60 * 60 * 1000;
        
        // Add one to ensure it is a non-zero result.
        return Math.ceil(((end.getTime() + 1) - start.getTime()) / days);
      },
      
      getIntervalPercentage: function() {
        var days = 12 * 60 * 60 * 1000;
        var sessionBegin = new Date('2012-01-24');
        var sessionEnd = new Date('2012-05-24');
        var sessionLength = Math.ceil(((sessionEnd.getTime() + 1) - sessionBegin.getTime()) / days);
        var theseDays = (this.getDays() < 3) ? 3 : this.getDays();
        
        // Get percentage of length but don't go over 1.
        return (theseDays > sessionLength) ? 1 : theseDays / sessionLength;
      },
      
      getStartPercentage: function() {
        var days = 12 * 60 * 60 * 1000;
        var sessionBegin = new Date('2012-01-24');
        var sessionEnd = new Date('2012-05-24');
        var start = new Date(this.get('start_date'));
        
        var startInterval = Math.ceil(((start.getTime() + 1) - sessionBegin.getTime()) / days);
        var sessionLength = Math.ceil(((sessionEnd.getTime() + 1) - sessionBegin.getTime()) / days);
        
        // Add one to ensure it is a non-zero result.  If start time is
        // before the session start time, just assume 0.
        return (start.getTime() < sessionBegin.getTime()) ? 0 : startInterval / sessionLength;
      }
    });
    
    // Collections
    var Bills = Backbone.Collection.extend({
      model: Bill,
      
      filterCategory: function (category) {
        return this.filter(function (bill) {
          if (_.isArray(bill.get('categories'))) {
            var found = _.filter(bill.get('categories'), function(c) {
              return c == category;
            });
            return !_.isEmpty(found);
          }
          else {
            return false;
          }
        });
      }
    });
    
    // Single bill view.
    var BillView = Backbone.View.extend({
      initialize: function(d) {
        // Every function that uses 'this' as the current object should be in here
        _.bindAll(this, 'render');
        
        this.model = d.model || new Bill();
      },

      render: function() {
        // Render template
        var template = _.template($("#template-bill").html(), { bill: this.model });
        $(this.el).html(template);
        
        // Figure out heights
        var billH = $('.bill-details-wrapper').height();
        var listH = $('#bills-list-container').height();
        if (listH > billH) {
          $('.bill-details-wrapper').height(listH);
        }
        
        return this;
      }
    });
    
    // Bills list view
    var BillsListView = Backbone.View.extend({
      categoryContainer: $('#bill-category-container'),
      
      events: {
        'click .show-bill': 'showBill'
      },
    
      initialize: function(d) {
        // Every function that uses 'this' as the current object should be in here
        _.bindAll(this, 'render', 'showBill', 'showFirstBill', 'activateBill', 'filterCategory');
        
        this.collection = d.collection || new Bills();
        this.fullCollection = new Bills(this.collection.models);
        this.billView = new BillView({ el: $('#bill-detail-container') });
      },

      render: function() {
        // Render template
        var template = _.template($("#template-bill-list").html(), { bills: this.collection.models });
        $(this.el).html(template);
        
        return this;
      },
      
      showBill: function(e) {
        e.preventDefault();
        var thisElem = $(e.currentTarget);
        this.billView.model = this.collection.getByCid(thisElem.attr('data-id'));
        this.activateBill(thisElem);
        this.billView.render();
        return this;
      },
      
      showFirstBill: function() {
        this.billView.model = this.collection.at(0);
        this.activateBill($('[data-id="' + this.billView.model.cid + '"]'));
        this.billView.render();
        return this;
      },
      
      activateBill: function(element) {
        $('.show-bill').removeClass('active');
        element.addClass('active');
        return this;
      },
      
      showCategory: function(category) {
        // Render template
        var template = _.template($("#template-category").html(), { category: category });
        this.categoryContainer.html(template);
      },
      
      filterCategory: function(category) {
        var filtered = this.fullCollection.filterCategory(category);

        if (_.isEmpty(filtered)) {
          // TODO: show empty message
        }
        else {
          this.collection.reset(filtered);
          this.showCategory(category);
          this.render();
          this.showFirstBill();
        }
      }
    });
    
    // Bubble visualization
    var reordered = [];
    var height = 650;
    var width = 975;
    var bubbleMinRadius = 6;
    var bubbleMaxRadius = 60;
    var xBubbleSpacing = 50;
    var yBubbleSpacing = 160;
  
    // Visualize categories with a bubble layout.
    function visCategories(categories, billList) {
      var bubbleChart = Raphael(document.getElementById("bubble-chart"), width, height);
    
      // Default positions
      var xPos = -50;
      var yPos = 125;
      
      // Find the max number in a category
      var maxBills = 1;
      for (var c in categories) {
        maxBills = (categories[c].length > maxBills) ? categories[c].length : maxBills;
      }
    
      // Create bubbles
      for (var category in categories) {
        // Make radius proportional given max bills in a category
        var radius = ((categories[category].length / maxBills) * (bubbleMaxRadius - bubbleMinRadius)) + bubbleMinRadius;
        
        // Update x and y positions
        xPos += 150;
        if (xPos + radius >= width) {
          xPos = 100;
          yPos += yBubbleSpacing;
        }
    
        var circle = bubbleChart.circle(Math.random() * (975 - radius), Math.random() * (height - radius), 0)
          .data("name", category)
          .data("spreadX", xPos)
          .data("spreadY", yPos)
          .data("radius", radius)
          .attr("fill", Raphael.rgb(255, Math.random() * 255, 0))
          .attr("opacity", "0.7")
          .attr("stroke-width", 0.5)
          .attr("cursor", "pointer")
          .mouseover(function() {
            this.attr("opacity", "1.0");
          })
          .mouseout(function() {
            this.attr("opacity", "0.7");
          })
          .click(function() {
            // Handle filtering of Bills list and display
            if (typeof billList != 'undefined') {
              billList.filterCategory(this.data("name").replace('\n', ''));
              $('#bubble-chooser').slideUp('fast');
              $('#category-details').slideDown('fast');
            }
          });
        var text = bubbleChart.text(circle.attrs.cx, circle.attrs.cy)
          .attr("font-size", 12)
          .attr("fill", "#444")
          .data("spreadX", xPos)
          .data("spreadY", yPos + 20);
        text = wrapText(category, text);
        
        var enlarge = Raphael.animation({"r": radius}, 1000, "easeIn");
        circle.animate(enlarge.delay(Math.random() * 1000));
    
      }
      spreadVis(bubbleChart);
    };
  
    // Move the bubbles around.
    function spreadVis(paper) {
      paper.forEach(function(el) {
        if (el.type === "circle") {
          var spread = Raphael.animation({"cx": el.data("spreadX"), "cy": el.data("spreadY") - el.data("radius")}, 1000, "backOut");
          el.animate(spread.delay(Math.random() * 1000));
        } else if (el.type === "text") {
          var textSpread = Raphael.animation({"x": el.data("spreadX"), "y": el.data("spreadY")}, 1000, "backOut");
          el.animate(textSpread.delay(Math.random() * 1000));
        }
      });
    };
    
    // Wrapping text function
    function wrapText(text, textObject) {
      var maxWidth = 140;
      var words = text.split(' ');
      var tempText = '';
      
      for (var i = 0; i < words.length; i++) {
        textObject.attr('text', tempText + " " + words[i]);
        if (textObject.getBBox().width > maxWidth) {
          tempText += '\n' + words[i];
        }
        else {
          tempText += ' ' + words[i];
        }
      }
      textObject.attr('text', tempText.substring(1));
    };
    
    // Mark as loading
    $('#application-nav').parent().prepend('<span class="loading-temp">Loading…</span>');
    
    // Process bill data and handle application.  JSONP callback
    // $.getJSON('data/bills.json', function(data) {
    bills = function(data) {
      // Get categories
      var i;
      var categories = {};
      for (i in data) {
        var c;
        if (_.isArray(data[i].categories)) {
          for (c in data[i].categories) {
            categories[data[i].categories[c]] = categories[data[i].categories[c]] || [];
            categories[data[i].categories[c]].push(i);
          }
        }
      }

      // Create bills collection
      var bills = new Bills();
      for (var i in data) {
        data[i].bill = i;
        bills.add(new Bill(data[i]));
      }
      
      // Handle list of bills
      var billList = new BillsListView({el: $('#bills-list-container'), collection: bills });
      
      // Done loading
      $('.loading-temp').remove();
      $('#application-nav').show();
      
      // Create bubble visualization
      visCategories(categories, billList);
  
      // Navigation and interface
      $('.all-categories').live('click', function(e) {
        e.preventDefault();
        $('#bubble-chooser').slideDown('fast');
        $('#category-details').slideUp('fast');
      });
      
      // Tabs
      $('.by-category').click(function(e) {
        e.preventDefault();
        $('#bubble-chooser').fadeIn('fast');
        $('#address-chooser').fadeOut('fast');
        $('#category-details').hide();
        $('.by-address').toggleClass('tab-active');
        $('.by-category').toggleClass('tab-active');
      });
      $('.by-address').click(function(e) {
        e.preventDefault();
        $('#bubble-chooser').fadeOut('fast');
        $('#address-chooser').fadeIn('fast');
        $('#category-details').hide();
        $('.by-address').toggleClass('tab-active');
        $('.by-category').toggleClass('tab-active');
      });

    };
    $.ajax({
      type: 'GET',
      dataType: 'jsonp',
      url: 'https://s3.amazonaws.com/data.minnpost/projects/mn-legislature-roundup-2012/bills.jsonp?callback=bills',
      jsonp: 'callback'
    });
    
  });
})(jQuery);

</script>


<!-- Embed End -->

</body>
</html>
